*{
    padding: 0;
    margin: 0.7vh 2vh 0vh 2vh;
}

body{
    font-size: 1.3vw;
    background-color: #000;
    color: #F8CF40;
}

html{
    scroll-behavior: smooth;
}

/*.loadingPage{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#svg{
    height: 150px;
    width: 150px;
    stroke: #F8CF40;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw{
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.logoName h1{
    font-size: 30px;
    font-weight: lighter;
}

.nameContainer{
    height: 30px;
    overflow: hidden;
}*/

#mainContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

header{
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 15vh;
    background-color: #000;
}

header > nav > ul{
    display: flex;
    list-style: none;
    gap: 2vw;
}

a{
    text-decoration: none;
    color: #F8CF40;
}


.heroBanner{
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    /*height: 92vh;*/
}

.heroText > h1{
    font-size: 10vh;
}

.heroText > h2{
    border-right: 3px solid;
    width: 42%;
    white-space: nowrap;    
    overflow: hidden;
    animation: 
        typing 2s steps(34),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% { border-color: transparent }
}

@keyframes typing{
    from { width: 0 }
}

.projectSection{
    grid-column: 1/7;
    /*height: 160vh;*/
    padding-top: 15vh;
}

#projects > h1{
    display: flex;
    justify-content: center;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10px;
}

.box > img{
    height: 35vh;
    width: 25vw;
    border-radius: 5px; 
}

.box{
    box-shadow: 15px 1px 10px #F8CF40;
    overflow: hidden;
    border-radius: 10px;
}

.intro{
    height: 30vh;
    width: 25vw;
    padding: 6px;
    box-sizing: border-box;
    background: #F8CF40;
    transition: .5s;
    color: #000;
}

#about{
    grid-column: 1/7;
    /*height: 92vh;*/
    padding-top: 15vh;  
}

#about > h1{
    display: flex;
    justify-content: center;
}

.aboutSection{
    display: flex;
    margin-top: 10vh;
}

#timeline{
    grid-column: 1/7;
    margin-top: 15vh;
    /*height: 92vh;*/
}

#timeline > h1{
    display: flex;
    justify-content: center;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container{
    padding: 10px 20px;
    position: relative;
    width: 46.7%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 3s;
}

.textBox{
    padding: 20px 30px;
    background: #000;
    position: relative;
    border-radius: 6px;
    font-size: 20px;
}

.leftContainer{
    left: 0;
}

.rightContainer{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.rightContainer img{
    left: -55.7px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #F8CF40;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.textBox h2{
    font-weight: bold;
}

.textBox small{
    display: inline-block;
    margin-bottom: 15px;
}

#skills{
    grid-column: 1/7;
    /*height: 85vh;*/
}

#skills h1{
    display: flex;
    justify-content: center;
}

.skillsBox{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill{
    font-size: 20px;
    border: 1px solid #F8CF40;
    border-radius: 10px;
    padding: 20px;
}

.skill:hover{
    background-color: #F8CF40;
    color: #000;
}

#contact{
    grid-column: 1/7;
    margin-top: 40vh;
    margin-bottom: 15vh;
    /*height: 50vh;*/
}

#contact h1{
    display: flex;
    justify-content: center;
}

#contact h2{
    margin-top: 5vh;
}

#contact img{
    height: 40px;
}


/*Media query*/

@media (max-width: 1919px) {
    #skills{
        margin-top: 80px;
    }

    .rightContainer img{
        left: -50px;
    }
    
}

@media (max-width: 1600px) {
    #about img{
        height: 400px;
        width: auto;
    }

    .heroImg img{
        height: 400px;
        width: auto;
    }
}

@media (max-width: 1209px) {
   .heroText h1{
    font-size: 50px;
   }

   .heroText > h2{
    border-right: 3px solid;
    width: 50%;
    white-space: nowrap;    
    overflow: hidden;
    animation: 
        typing 2s steps(34),
        cursor .4s step-end infinite alternate;
    }
}

@media (max-width: 1010px) {
    .heroText h1{
     font-size: 40px;
    }

    .heroImg img{
        height: 350px;
        width: auto;
    }

    #about img{
        height: 350px;
        width: auto;
    }
    
    .heroText > h2{
        border-right: 3px solid;
        width: 65%;
        white-space: nowrap;    
        overflow: hidden;
        animation: 
            typing 2s steps(34),
            cursor .4s step-end infinite alternate;
    }
 }